:root {
  --eatup_yellow: #FFC83A;
  --eatup_light_yellow: #FFCE50;
  --eatup_red: #FE554A;
  --eatup_light_red: #FF685E;
  --eatup_green: #0B735F;
  --eatup_dark_grey: #C6C9CC;
  --eatup_grey: #DFE2E5;
  --eatup_background: #F7F7FB;
  --black: #FF000000;
  --white: #FFFFFFFF;
  --transparent: #00000000;

  --text_color_yellow: #FFC83A;
  --text_color_black: #1C1C1C;
  --text_color_gray: #3D3D3D;
  --text_color_white: #FFFFFFFF;
  /* --background_color: #F7F7FB; */
  --text_color_red: #FE554A;
  --text_color_dark_red: #F93F00;
}

.eatup-landing {
  padding: 9px;
  height: 100vh;
  --bg-gradient: linear-gradient(200deg, #FFC83A 0%, #ff8e5e 100%);
  background: var(--bg-gradient);
}

.landing-header {
  font-size: xx-large;
  font-weight: bold;
  color: var(--text_color_dark_red);
}

.landing-img {
  width: 70%;
}

.landing-logo {
  height: 17vh;
}

.landing-btn, .landing-btn:hover, .landing-btn:first-child:active {
  width: 80%;
  border-radius: 5px;
  background-color: var(--eatup_light_yellow);
  color: var(--text_color_red);
  font-weight: bold;

  margin-top: 20px;

  border: none;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.landing-btn:hover {
  background-color: var(--eatup_yellow);
}