:root {
  --eatup_yellow: #FFC83A;
  --eatup_ligth_yellow: #FFCE50;
  --eatup_red: #FE554A;
  --eatup_light_red: #FF685E;
  --eatup_green: #0B735F;
  --eatup_dark_grey: #C6C9CC;
  --eatup_grey: #DFE2E5;
  --eatup_background: #F7F7FB;
  --black: #FF000000;
  --white: #FFFFFFFF;
  --transparent: #00000000;

  --text_color_yellow: #FFC83A;
  --text_color_black: #1C1C1C;
  --text_color_gray: #3D3D3D;
  --text_color_white: #FFFFFFFF;
  /* --background_color: #F7F7FB; */
  --text_color_red: #FE554A;
  --text_color_dark_red: #F93F00;
}

.landing-img {
  max-width: 500px;
}